%h1 商品の一覧


.card-deck
  - @products.each do |product|
    .card{style: "width: 20rem;"}
      %img.card-img-top{ src: url_for(product.image), style: "width: 200px" }
        .card-body
          %h4.card-title #{product.name} #{product.price}
          %p.card-text
            - if product.description.present?
              = product.description
            - else
              = "説明文がありません。"
        .card-footer
          %p.card-text
            = link_to '商品の詳細', product, class: "btn btn-primary"
            = link_to '編集する', edit_product_path(product), class: "btn btn-default"
            = link_to '削除する', product, method: :delete, data: { confirm: 'よろしいですか？' }, class: "btn btn-danger"
%br

= link_to '新規登録', new_product_path
