%h1 Listing products


.card-deck
  - @products.each do |product|
    .card{style: "width: 20rem;"}
      %img.card-img-top{ src: url_for(product.image) }
        .card-body
          %h4.card-title #{product.name} #{product.price}
          %p.card-text
            = product.description
            Some quick example text to build on the card title and make up the bulk of the card's content.
        .card-footer
          %p.card-text
            = link_to 'Show', product, class: "btn btn-primary"
            = link_to 'Edit', edit_product_path(product), class: "btn btn-default"
            = link_to 'Destroy', product, method: :delete, data: { confirm: 'よろしいですか？' }, class: "btn btn-danger"
%br

= link_to 'New Product', new_product_path
