%h1
  = @product.name
%p
  %b 価格:
  = @product.price

%p
  - if @product.image.attached?
    = image_tag url_for(@product.image), style: "width: 200px;"
  - else
    画像がありません

%p
  %b 商品の説明:
  %p
    = @product.description

.col-xs-4
  = form_with add_item_path, remote: true do |f|
    .input-group
      = f.number_field :quantity, value: 1, class: "form-control", min: 1
      .input-group-btn
        = f.hidden_field :product_id, value: @product.id
        = f.submit "Add to Cart", class: "btn btn-primary"

= link_to '編集する', edit_product_path(@product)
\|
= link_to '戻る', products_path
