%h1 商品の詳細

.nav.justify-content-end
  = link_to '一覧', products_path, class: 'nav-link'
  = link_to '編集', edit_product_path(@product), class: 'nav-link'
%table.table.table-hover
  %tbody
    %tr
      %th= Product.human_attribute_name(:name)
      %td= @product.name
    %tr
      %th= Product.human_attribute_name(:price)
      %td= @product.price
    %tr
      %th= Product.human_attribute_name(:image)
      %td
        - if @product.image.attached?
          =image_tag url_for(@product.image), style: "width: 20rem;"
        - else
          画像がありません
    %tr
      %th= Product.human_attribute_name(:description)
      %td= @product.description
