%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Price:
  = @product.price

- if @product.image.attached?
  %p
    =image_tag url_for(@product.image)
- else
  %p
    画像がありません

%p
  %b Description:
  = @product.description

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
