%p#notice= notice

%h1
  = @product.name
%p
  %b 価格:
  = @product.price

%p
  - if @product.image.attached?
    =image_tag url_for(@product.image), style: "width: 20rem;"
  - else
    画像がありません

%p
  %b 商品説明:
  %p
    = @product.description

= link_to '編集', edit_product_path(@product)
\|
= link_to '戻る', products_path
