%header.navbar.navbar-fixed-top
    .container
    = link_to "さくらま", root_path, id: 'logo'
    %nav.nav.navbar-nav.navbar-right
        %ul
        - if user_signed_in?
            %li= link_to '送付先の変更', edit_user_registration_path, class: "btn"
            %li= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn"
        - else
            %li= link_to 'ユーザー登録', new_user_registration_path, class: "btn btn-outline-success"
            %li= link_to 'ログイン', new_user_session_path, class: "btn btn-link"